<h2>Добавление нового товара</h2>
<%= form_for :product, url: {action: "create"} do |f| %>
  <p>
    Название<br>
    <%= f.text_field :title %>
  </p>
  <p>
    Описание<br>
    <%= f.text_area :text %>
  </p>
  <p>
    До какого времени<br>
    <%= f.time_field :time_end %>
  </p>
  <p>
    Начальная цена<br>
    <%= f.number_field :price, step: :any %>
  </p>
  <p>
    Шаг повышения<br>
    <%= f.number_field :raise_by, step: :any %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>