<%= render 'head' %>

<main role="main" class="container">
  <%= render 'head_profile' %>
  <div class="price container">
    <div class="row">
      <h4 class="col-4 body-title">Current balance:</h4>
      <h4 class="col-4 body-text"><%= @user.price.round(2) %>$</h4>
    </div>
    <div class="row">
      <h4 class="col-4 body-title">Add:</h4>
      <h4 class="col-4 body-text"><span class=""><%= link_to '+', add_path, class: 'text-dark' %></span></h4>
    </div>
  </div>


  <h4 class="title-review">Reviews</h4>

  <% @reviews.each do |review| %>
    <%= render 'review', review: review %>
  <% end %>

</main>

<%= render 'footer' %>