<h2>Добавление нового товара</h2>
<%= form_for :product, url: {action: "create"} do |f| %>
  <p>
    Название<br>
    <%= f.text_field :title %>
  </p>
  <p>
    Содержимое продукта<br>
    <%= f.text_area :text %>
  </p>
  <p>
    На сколько оцениваете<br>
    <%= f.number_field :price, step: :any %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>