<%= render 'head_auth', user: @user %>

<main role="main" class="container">
  <%= render 'head_profile' %>
  <div class="price container">
    <div class="row">
      <h4 class="col-4 body-title">Current balance:</h4>
      <h4 class="col-4 body-text"><%= @user.price %>$</h4>
    </div>
    <div class="row">
      <h4 class="col-4 body-title">Add:</h4>
      <h4 class="col-4 body-text"><a href="#" class="text-dark">+</a></h4>
    </div>
  </div>


  <h4 class="title-review">Reviews</h4>

  <% @reviews.each do |review| %>
    <%= render 'review', review: review %>
  <% end %>

</main>

<%= render 'footer' %>